<section class="header-container">
  <div class="header">
    <div
      class="logo"
      [routerLink]="['/movies']"
      routerLinkActive="router-link-active"
    >
      MVDB
    </div>
    <div class="search">
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <input
          type="text"
          placeholder="Search movies"
          [formControlName]="'searchResult'"
          (click)="check()"
        />
        <button type="submit"><mat-icon>search</mat-icon></button>
      </form>
    </div>
  </div>
</section>
