<div class="homepage">
  <div class="sort">
    <mat-form-field>
      <mat-label>Sort</mat-label>
      <mat-select [(ngModel)]="sort" (selectionChange)="onSort(sort)">
        <mat-option value="all">All movies</mat-option>
        <mat-option value="trending">Trending</mat-option>
        <mat-option value="popular">Popular</mat-option>
        <mat-option value="top-rated">Top rated</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="favorites">
      <button [routerLink]="['/movies', 'favorites']">Favorite Movies</button>
    </div>
  </div>

  <div class="movies">
    <div class="movies-container">
      <app-movies></app-movies>
    </div>
  </div>
</div>
