<div class="details-tab-container">
  <div class="details-tab">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Overview">
        <div
          class="overview-container"
          [ngStyle]="{
            backgroundImage:
              'url(https://image.tmdb.org/t/p/original' +
              movie.backdrop_path +
              ')'
          }"
        >
          <div class="overview">
            <div class="overview-poster">
              <div class="poster">
                <img [src]="moviePoster" alt="" />
              </div>
            </div>

            <div class="overview-content-container">
              <div class="overview-content">
                <div class="movie-name">{{ movie.title }}</div>
                <div class="movie-date">{{ movie.release_date | date }}</div>
                <div class="movie-genre">
                  <ul>
                    <li *ngFor="let genre of movie.genres">{{ genre.name }}</li>
                    <!-- <li>Adventure</li>
                    <li>Fantasy</li> -->
                  </ul>
                </div>
              </div>

              <div class="movie-rating">
                <circle-progress
                  backgroundColor="black"
                  [percent]="rating"
                  [radius]="40"
                  [outerStrokeWidth]="10"
                  [innerStrokeWidth]="2"
                  [outerStrokeColor]="ratingColor(rating)"
                  [innerStrokeColor]="'#C7E596'"
                  [animation]="true"
                  [animationDuration]="300"
                  titleFontSize="30"
                  titleFontWeight="900"
                  unitsFontWeight="500"
                  unitsFontSize="15"
                  [backgroundPadding]="10"
                ></circle-progress>

                <div class="votes-popularity">
                  <div class="count">
                    Vote Count: <span>{{ movie.vote_count }}</span>
                  </div>
                  <div class="popularity">
                    Popularity: <span>{{ movie.popularity }}</span>
                  </div>
                </div>
              </div>

              <div class="movie-overview-content">
                <div class="heading">Overview</div>
                <div class="content">
                  {{ movie.overview }}
                </div>
              </div>

              <div class="movie-cast">
                <div class="heading">Popular Casts</div>
                <div class="cast">
                  <ul>
                    <li>
                      <div class="name">Gal Gadot</div>
                      <span class="character">Diana Prince / Wonder Woman</span>
                    </li>
                    <li>
                      <div class="name">Chris Pine</div>
                      <span class="character">Steve Trevor</span>
                    </li>
                    <li>
                      <div class="name">Connie Nielsen</div>
                      <span class="character">Hippolyta</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Trailer">
        <div class="trailer-video" #videoContainer>
          <youtube-player
            [ngStyle]="{ width: '100%' }"
            videoId="EYjQBFCbRbE"
            suggestedQuality="highres"
            [height]="700"
            [width]="movieWidth"
            [startSeconds]="0"
            [endSeconds]="600"
          >
          </youtube-player>
        </div>
      </mat-tab>
      <!-- <mat-tab label="Third">Content 3</mat-tab> -->
    </mat-tab-group>
  </div>
</div>
