@import "config";

::-webkit-scrollbar {
  position: relative;
  height: 8px;
  cursor: pointer;
  z-index: 12;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
  border-radius: 10px;
  cursor: pointer;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(85, 85, 85);
  border-radius: 10px;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}

.error-container {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  background: red;
  padding: 10px 15px;
}

.details-tab-container {
  margin-inline: auto;
  &.blur {
    filter: blur(10px);
  }
}

.mat-tab-label-container {
  & .mat-ink-bar {
    background: red !important;
  }

  & .mat-tab-list {
    margin-bottom: 10px;
    margin-top: -10px;
  }

  & .mat-tab-label {
    color: white !important;
    font-size: 18px;
    font-weight: 500;
  }

  & .mat-tab-body-content {
    color: white;
  }
}

.overview-container {
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.8;
    z-index: 1;
  }

  & .overview {
    @include flex;
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 1400px;
    margin-inline: auto;
    padding: 30px 20px;

    & .overview-poster {
      margin-right: 40px;

      & .poster {
        width: 300px;

        & img {
          position: relative;
          width: 100%;
          z-index: 2;
          border-radius: 5px;
          box-shadow: 5px 5px 10px black;
        }
      }
    }

    & .overview-content-container {
      flex: 1;

      & .overview-content {
        &:not(:last-child) {
          margin-bottom: 20px;
        }
        & .movie-name {
          @include flex;
          font-size: 40px;
          font-weight: 600;
          text-transform: capitalize;
          letter-spacing: 1px;
          margin-bottom: 20px;
          line-height: 1.1;

          & .website a {
            color: white;
            text-decoration: none;
            font-size: 20px;
            font-weight: 400;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            @include transition;

            &:hover {
              color: $main-color;
            }
          }
        }

        & .movie-date {
          font-size: 20px;
          color: $dark-white;
          font-weight: 500;
          margin-bottom: 10px;

          & .movie-runtime {
            font-size: 15px;
            font-weight: 500;
            margin-left: 10px;
            color: white;
            background: $main-color-hover;
            padding: 3px 10px;
            border-radius: 3px;
          }
        }

        & .movie-genre {
          & ul {
            display: flex;
            flex-wrap: wrap;
            padding-bottom: -20px;
            & li {
              position: relative;
              font-size: 15px;
              border-radius: 5px;
              padding-left: 12px;
              color: $dark-white;

              &:after {
                position: absolute;
                content: "";
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background: white;
                left: 3px;
                top: 50%;
                transform: translateY(-50%);
              }

              &:not(:last-child) {
                margin-right: 8px;
              }
            }
          }
        }
      }

      & .movie-rating {
        display: flex;
        align-items: center;
        margin: 20px 0;

        & .votes-popularity {
          margin-left: 10px;

          & div:not(:last-child) {
            margin-bottom: 10px;
          }
          & .count,
          & .popularity {
            color: $dark-white;
            font-size: 20px;

            & span {
              color: white;
              font-size: 18px;
              text-decoration: underline;
            }
          }
        }
      }

      & .movie-overview-content {
        margin-bottom: 20px;
        & .heading {
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 8px;
          text-transform: uppercase;
          color: $dark-white;
          border-bottom: 1px solid $dark-white;
          padding-bottom: 8px;
        }

        & .content {
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          font-size: 18px;
          font-weight: 400;
          line-height: 1.2;
        }
      }

      & .movie-cast {
        margin-top: 40px;
        & .heading {
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 8px;
          text-transform: uppercase;
          color: $dark-white;
          border-bottom: 1px solid $dark-white;
          padding-bottom: 8px;
        }

        & .cast {
          & ul {
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            & li {
              &:not(:last-child) {
                margin-bottom: 10px;
                margin-right: 25px;
              }
              & .name {
                font-size: 15px;
                font-weight: 500;
                display: block;
                text-transform: uppercase;
              }

              & .character {
                font-size: 15px;
                color: $dark-white;
              }
            }
          }
        }
      }
    }
  }
}
.video-container {
  width: 100%;

  &.blurVid {
    filter: blur(10px);
  }
}
.trailer-video {
  margin-inline: auto;

  & .video-index {
    padding-left: 10px;
    font-size: 30px;
    font-weight: 700;
    color: $main-color;
    margin-bottom: 10px;
  }

  margin-bottom: 30px;
}

// recommendations

.details-tab-container .movies {
  margin-top: 30px;
  margin-bottom: 0px;
  padding-left: 20px;

  &.top-rated {
    margin-bottom: 0px;
  }
}

.movies-type {
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 3px;
    background: $main-color;
    bottom: -5px;
    left: 0;
    border-radius: 20px;
  }

  &.popular {
    &::after {
      bottom: -8px;
    }
  }
}

.movies-class {
  display: flex;
  padding-bottom: 5px;
  overflow: auto;
}

.movie {
  position: relative;
  cursor: pointer;
  width: 200px;

  &.popular_2 {
    display: inline;
  }

  &:not(:last-child) {
    margin-right: 20px;
  }

  &:hover {
    & .movie-img {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 275px;
        background: $main-color;
        opacity: 0.5;
        top: 0;
        left: 0;
        z-index: 10;
        border-radius: 8px;
      }
    }
  }

  & #favorite {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    z-index: 12;
    font-size: 18px;

    &.liked {
      color: red;
    }
  }

  &-img {
    position: relative;
    width: 100%;
    height: 275px;

    & .movie-rating {
      position: absolute;
      bottom: 0;
      left: 5px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 0;
      background: $main-color;
      opacity: 0;
      top: 0;
      left: 0;
      @include transition;
      border-radius: 8px;
      z-index: 10;
    }

    & img {
      width: 200px;
      height: 275px;
      border-radius: 8px;
    }
  }

  &-info {
    position: relative;
    color: white;
    @include flex;
    padding: 10px 0px;
    padding-bottom: 2px;
    width: 100%;

    & .movie-title-date {
      & .movie-name {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1px;
      }

      & .movie-date {
        font-size: 15px;
        color: $dark-white;
      }
    }
  }
}

.movies-search {
  position: relative;

  & .movie-rating {
    left: 0;
  }
}

@media (max-width: 480px) {
  .movies-container {
    &::after {
      width: 20px;
      filter: blur(30px);
    }
  }

  .movies {
    margin-bottom: 50px;
  }

  .movie {
    width: 170px;

    &:hover {
      & .movie-img {
        &::after {
          height: 245px;
        }
      }
    }

    &-img {
      height: 245px;

      & img {
        width: 170px;
        height: 245px;
      }
    }

    &-info {
      & .movie-title-date {
        & .movie-name {
          font-size: 15px;
          font-weight: 500;
          letter-spacing: 0.5px;
          line-height: 1.1;
        }

        & .movie-date {
          font-size: 13px;
        }
      }
    }
  }

  .movies-search {
    position: relative;

    & .movie-rating {
      left: 0;
    }
  }
}

@media (max-width: 480px) {
  .overview-container {
    & .overview {
      @include flex;
      flex-direction: column;

      & .overview-poster {
        margin-right: 0px;
        margin-bottom: 20px;

        & .poster {
          width: 200px;

          & img {
            border-radius: 5px;
            box-shadow: 5px 5px 10px rgb(31, 31, 31),
              -5px -5px 10px rgb(31, 31, 31);
          }
        }
      }

      & .overview-content-container {
        flex: 1;

        & .overview-content {
          &:not(:last-child) {
            margin-bottom: 20px;
          }
          & .movie-name {
            font-size: 35px;
          }

          & .movie-genre {
            & ul {
              & li {
                font-size: 17px;
              }
            }
          }
        }

        & .movie-overview-content {
          margin-bottom: 20px;
          & .heading {
            font-size: 20px;
          }

          & .content {
            font-size: 16px;
            line-height: 1.3;
          }
        }

        & .movie-cast {
          margin-top: 40px;
          & .heading {
            font-size: 18px;
          }
        }
      }
    }
  }
}
