<div class="error-container" *ngIf="error">An error occured!</div>
<div
  class="details-tab-container"
  [ngClass]="{ blur: isFetching }"
  *ngIf="!error"
>
  <div class="details-tab" #detailsContainer>
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Overview">
        <div
          class="overview-container"
          [ngStyle]="{
            backgroundImage:
              'url(https://image.tmdb.org/t/p/original' + backdrop_path + ')'
          }"
        >
          <div class="overview">
            <div class="overview-poster">
              <div class="poster">
                <img [src]="poster_path" alt="" />
              </div>
            </div>

            <div class="overview-content-container">
              <div class="overview-content">
                <div class="movie-name">{{ original_title }}</div>
                <div class="movie-date">{{ release_date | date }}</div>
                <div class="movie-genre">
                  <ul>
                    <li *ngFor="let genre of genres">{{ genre }}</li>
                    <!-- <li>Adventure</li>
                    <li>Fantasy</li> -->
                  </ul>
                </div>
              </div>

              <div class="movie-rating">
                <circle-progress
                  backgroundColor="black"
                  [percent]="vote_average"
                  [radius]="40"
                  [outerStrokeWidth]="10"
                  [innerStrokeWidth]="2"
                  [outerStrokeColor]="ratingColor(vote_average)"
                  [innerStrokeColor]="'#C7E596'"
                  [animation]="true"
                  [animationDuration]="1000"
                  titleFontSize="30"
                  titleFontWeight="900"
                  unitsFontWeight="500"
                  unitsFontSize="15"
                  [backgroundPadding]="10"
                ></circle-progress>

                <div class="votes-popularity">
                  <div class="count">
                    Vote Count: <span>{{ vote_count }}</span>
                  </div>
                  <div class="popularity">
                    Popularity: <span>{{ popularity }}</span>
                  </div>
                </div>
              </div>

              <div class="movie-overview-content">
                <div class="heading">Overview</div>
                <div class="content">
                  {{ overview }}
                </div>
              </div>

              <div class="movie-cast">
                <div class="heading">Popular Cast</div>
                <div class="cast">
                  <ul>
                    <li *ngFor="let cast of casts; let i = index">
                      <div class="name" *ngIf="i < 6">{{ cast.name }}</div>
                      <span class="character" *ngIf="i < 6">{{
                        cast.character
                      }}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Watch Related Video">
        <div
          class="video-container"
          *ngFor="let videoKey of videoId; let i = index"
          #videoContainer
        >
          <div class="trailer-video">
            <div class="video-index">{{ i + 1 }}</div>
            <youtube-player
              [videoId]="videoKey"
              suggestedQuality="highres"
              [height]="movieHeight"
              [width]="movieWidth"
              [startSeconds]="0"
              [endSeconds]="600"
            >
            </youtube-player>
          </div>
        </div>
      </mat-tab>
      <!-- <mat-tab label="Third">Content 3</mat-tab> -->
    </mat-tab-group>
  </div>
</div>
