<div class="recents-container" [ngStyle]="{ height: height }">
  <div class="recents" #recents>
    <div class="heading-container">
      <i class="fa fa-long-arrow-left" (click)="closeRecents()"></i>
      <p class="heading">RECENT SEARCHES</p>
    </div>

    <div class="names">
      <li class="searchNames" *ngFor="let name of searchNames; let i = index">
        <span class="searchName" (click)="searchRecent(name)"
          ><span><i class="fa fa-search"></i></span> {{ name }}</span
        >
        <span class="remove" (click)="removeSearch(i)"
          ><i class="fa fa-times"></i
        ></span>
      </li>
    </div>

    <div class="clear" (click)="clearSearch()" *ngIf="searchNames.length > 1">
      Clear
    </div>
  </div>
</div>
<div class="recents-underlay"></div>
