.recents-container {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100vw;
  background: rgba(0, 0, 0, 1);
  z-index: 12;
  padding: 30px 0 0 0;
  transition: all 500ms ease-in-out;
}

.recents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  max-width: 1400px;
  margin-inline: auto;
  padding-bottom: 20px;

  & .heading-container {
    display: flex;

    & i {
      font-size: 30px;
      margin-right: 20px;
      transform: translateY(-5px);
      cursor: pointer;
    }

    & .heading {
      font-size: 20px;
      font-weight: 400;
    }
  }

  & .names {
    display: inline-block;
    margin-top: 25px;
    width: 100%;

    & .searchNames {
      display: flex;
      justify-content: space-between;
      width: 50%;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      & .searchName {
        position: relative;
        font-size: 20px;
        letter-spacing: 0.9px;
        cursor: pointer;

        & i {
          font-size: 18px;
          margin-right: 5px;
        }

        &:hover {
          &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 2px;
            background: white;
            bottom: -5px;
            left: 0;
            border-radius: 20px;
          }
        }
      }

      & .remove {
        margin-left: 50px;
        font-size: 20px;
        cursor: pointer;

        &:hover {
          color: red;
        }
      }
    }
  }

  & .clear {
    align-self: center;
    font-size: 20px;
    margin-top: 30px;
    cursor: pointer;

    &:hover {
      color: red;
    }
  }
}

.recents-underlay {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 11;
}

@media (max-width: 500px) {
  .recents {
    & .names {
      & .searchNames {
        & .searchName {
          font-size: 18px;

          & i {
            font-size: 16px;
          }
        }
        width: 100%;
      }
    }
  }
}
