@import "config";

.sign-up {
  margin-top: 79px;
  width: 100%;
  min-height: 100vh;
}

.sign-up-container {
  font-family: "Nunito", sans-serif;
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
}

.underlay {
  display: none;
}

.sign-up-main,
.sign-up-image {
  width: 50%;
  height: 100%;
}

.sign-up-main {
  height: 100%;
  margin-inline: auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
}

.sign-up-image {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.sign-up-loader {
  &.grow {
    height: 20px;
  }
}

.sign-up-main-content {
  width: 80%;
  margin-inline: auto;
}

.sign-up-heading {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.error-message {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  background: $main-color;
  padding: 5px 10px;
  font-size: 1rem;
  word-wrap: break-word;
  transform: scale(0);

  &.show {
    transform: scale(1);
    transition: all 300ms ease-in-out;
  }
}

.sign-up-form {
  & .form-group {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 25px;
    }

    & input {
      width: 100%;
      height: 50px;
      padding-left: 70px;
      border-radius: 2px;
      border: none;
      font-size: 1rem;
      font-weight: 600;
      color: #808080;

      &:focus {
        outline: none;
      }

      &::placeholder {
        font-size: 1rem;
        color: #808080;
      }

      &.input-error {
        border: 2px solid $main-color;

        &::placeholder {
          color: $main-color;
        }
      }
    }

    & .input-icon {
      position: absolute;
      height: 100%;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      border-right: 2px solid rgba(#808080, 0.5);
      padding-right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      & i {
        width: 16px;
        font-size: 1rem;
        color: #808080;
      }

      &.input-error {
        border-right: 2px solid $main-color;

        & i {
          color: $main-color;
        }
      }
    }
  }

  & .sign-up-btn {
    width: 100%;
    position: relative;
    padding: 15px 0;
    border-radius: 2px;
    border: none;
    color: white;
    background: $main-color;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 100ms ease-in-out;

    &:hover {
      background: rgba($main-color, 0.8);
    }

    & i {
      position: absolute;
      right: 10px;
      font-size: 1.2rem;
    }
  }
}

.form-group.password,
.form-group.confirm-password {
  position: relative;

  & .eye {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);

    & i {
      color: black;
      font-size: 1rem;
    }
  }
}

.error {
  text-align: left;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
  margin-top: -20px;
  color: rgba($main-color, 0.9);
}

.or {
  font-size: 1rem;
  font-weight: 600;
}

.sign-up-google {
  & button {
    width: 100%;
    position: relative;
    padding: 15px 0;
    border-radius: 2px;
    border: 1px solid white;
    background: transparent;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    overflow: hidden;
    cursor: pointer;
    transition: all 100ms ease-in-out;

    &:hover {
      background: white;
      color: #808080;
    }

    & i {
      position: absolute;
      width: 50px;
      left: 5px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.5rem;
    }
  }
}

.have-account {
  margin-top: 20px;
  text-align: left;
  & a {
    color: white;
    font-size: 1rem;
    text-decoration: underline;
  }
}

.loader {
  width: 82px;
  height: 18px;
  position: relative;
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, 10%);
  top: 0;
  background: $main-color;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  animation: jump 0.5s ease-in infinite alternate;
}

.loader::after {
  background: #0000;
  color: #fff;
  top: 100%;
  box-shadow: 32px -20px, -32px -20px;
  animation: split 0.5s ease-out infinite alternate;
}

@keyframes split {
  0% {
    box-shadow: 8px -20px, -8px -20px;
  }
  100% {
    box-shadow: 32px -20px, -32px -20px;
  }
}
@keyframes jump {
  0% {
    transform: translate(-50%, -150%);
  }
  100% {
    transform: translate(-50%, 10%);
  }
}

@media (max-width: 880px) {
  .underlay {
    display: block;
    position: fixed;
    background-size: cover;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    filter: blur(2px);

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      background: rgba(black, 0.6);
    }
  }

  .sign-up-main {
    width: 100%;
    position: relative;
    z-index: 100;
    margin-inline: auto;
  }

  .sign-up-image {
    width: 0%;
    height: 100vh;
    background-image: none;
  }

  .sign-up-main-content {
    width: 70%;
  }
}

@media (max-width: 530px) {
  .sign-up-container {
    height: 100%;
  }

  .sign-up-main {
    width: 90%;
  }

  .sign-up-main-content {
    width: 100%;
  }
}

@media (max-width: 375px) {
  // .sign-up-container {
  //   height: 100%;
  // }
}
