@import "config";
@import "~swiper/scss";
@import "~swiper/scss/free-mode";
@import "~swiper/scss/pagination";

::-webkit-scrollbar {
  position: relative;
  height: 8px;
  cursor: pointer;
  z-index: 12;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
  border-radius: 10px;
  cursor: pointer;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(85, 85, 85);
  border-radius: 10px;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}

.error-container {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  background: red;
  padding: 10px 15px;
}

.movies-container {
  position: relative;

  &.blur {
    filter: blur(5px);
  }

  &::after {
    position: absolute;
    content: "";
    width: 70px;
    height: 100%;
    background: black;
    filter: blur(50px);
    top: 0;
    right: 0;
    z-index: 10;
  }
}

.movies {
  margin-bottom: 100px;

  &.top-rated {
    margin-bottom: 0px;
  }
}

.movies-type {
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 3px;
    background: $main-color;
    bottom: -5px;
    left: 0;
    border-radius: 20px;
  }

  &.popular {
    &::after {
      bottom: -8px;
    }
  }
}

.movies-class {
  display: flex;
  padding-bottom: 5px;
  overflow: auto;
}

.movie {
  position: relative;
  cursor: pointer;
  width: 200px;

  &.popular_2 {
    display: inline;
  }

  &:not(:last-child) {
    margin-right: 20px;
  }

  &:hover {
    & .movie-img {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 275px;
        background: $main-color;
        opacity: 0.5;
        top: 0;
        left: 0;
        z-index: 10;
        border-radius: 8px;
      }
    }
  }

  & #favorite {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    z-index: 12;
    font-size: 18px;

    &.liked {
      color: red;
    }
  }

  &-img {
    position: relative;
    width: 100%;
    height: 275px;

    & .movie-rating {
      position: absolute;
      bottom: 0;
      left: 5px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 0;
      background: $main-color;
      opacity: 0;
      top: 0;
      left: 0;
      @include transition;
      border-radius: 8px;
      z-index: 10;
    }

    & img {
      width: 200px;
      height: 275px;
      border-radius: 8px;
    }
  }

  &-info {
    position: relative;
    color: white;
    @include flex;
    padding: 10px 0px;
    padding-bottom: 2px;
    width: 100%;

    & .movie-title-date {
      & .movie-name {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1px;
      }

      & .movie-date {
        font-size: 15px;
        color: $dark-white;
      }
    }
  }
}

.movies-search {
  position: relative;

  & .movie-rating {
    left: 0;
  }
}

@media (max-width: 480px) {
  .movies-container {
    &::after {
      width: 20px;
      filter: blur(30px);
    }
  }

  .movies {
    margin-bottom: 50px;
  }

  .movie {
    width: 170px;

    &:hover {
      & .movie-img {
        &::after {
          height: 245px;
        }
      }
    }

    &-img {
      height: 245px;

      & img {
        width: 170px;
        height: 245px;
      }
    }

    &-info {
      & .movie-title-date {
        & .movie-name {
          font-size: 15px;
          font-weight: 500;
          letter-spacing: 0.5px;
          line-height: 1.1;
        }

        & .movie-date {
          font-size: 13px;
        }
      }
    }
  }

  .movies-search {
    position: relative;

    & .movie-rating {
      left: 0;
    }
  }
}
