@import "config";
@import "~swiper/scss";
@import "~swiper/scss/free-mode";
@import "~swiper/scss/pagination";

.movies-container {
  overflow: auto;
  // padding-bottom: 30px;
}

.movies {
  overflow: auto;
  margin-bottom: 100px;

  &.top-rated {
    margin-bottom: 0px;
  }
}

.movies-type {
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 3px;
    background: $main-color;
    bottom: -5px;
    left: 0;
    border-radius: 20px;
  }

  &.popular {
    &::after {
      bottom: -8px;
    }
  }
}

.movies-class {
  display: flex;
  padding-bottom: 5px;
  overflow: auto;

  // &.popular,
  // &.top-rated {
  //   padding-bottom: 25px;
  // }
}

::-webkit-scrollbar {
  height: 8px;
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(85, 85, 85);
  border-radius: 10px;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}

.movie {
  position: relative;
  cursor: pointer;
  width: 200px;

  &:not(:last-child) {
    margin-right: 20px;
  }

  &-img {
    background-size: cover;
    width: 100%;
    height: 275px;

    & img {
      width: 200px;
      height: 275px;
      border-radius: 8px 8px 0 0;
    }
  }

  &-info {
    background: white;
    color: black;
    @include flex;

    padding: 10px 10px;
    padding-bottom: 2px;
    width: 100%;
    border-radius: 0 0 8px 8px;

    & .movie-rating {
      position: absolute;
      bottom: 58px;
      left: 5px;
    }

    & .movie-title-date {
      & .movie-name {
        font-size: 16px;
        font-weight: 500;
      }

      & .movie-date {
        font-size: 13px;
      }
    }
  }
}

.movies-search {
  position: relative;

  & .movie-rating {
    left: 0;
  }
}
