<div class="searched-movies-container">
  <div class="searched-main" *ngFor="let movie of movies; let i = index">
    <div
      [routerLink]="['/movies', moviesId[i], moviesNames[i]]"
      class="searched"
      [ngStyle]="{ 'margin-bottom': i < movies.length + 1 ? '20px' : 0 }"
    >
      <div class="searched-poster">
        <img
          [src]="
            moviesPoster[i] !== null
              ? moviesPoster[i]
              : '../../../assets/placeholde-image.jpg'
          "
          alt=""
        />
      </div>
      <div class="searched-info">
        <div class="title-date">
          <div class="title">{{ movie.original_title }}</div>
          <div class="date">{{ movie.release_date | date }}</div>
        </div>
        <div class="overview">
          {{ movie.overview }}
        </div>
      </div>
    </div>
  </div>
</div>
