@import "config";

.sign-in-container {
  position: relative;
  font-family: "Nunito", sans-serif;
  width: 90%;
  margin-inline: auto;
  text-align: center;
}

.sign-in-loader {
  &.grow {
    height: 20px;
  }
}

.sign-in-main {
  width: 420px;
  margin-inline: auto;
}

.sign-in-heading {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.error-message {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  background: $main-color;
  padding: 5px 10px;
  font-size: 1rem;
  word-wrap: break-word;
  transform: scale(0);

  &.show {
    transform: scale(1);
    transition: all 300ms ease-in-out;
  }
}

.sign-in-form {
  & .form-group {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    & input {
      width: 100%;
      padding: 15px 10px;
      border-radius: 2px;
      border: none;
      font-size: 1rem;

      &:focus {
        outline: none;
      }

      &::placeholder {
        font-size: 1rem;
      }
    }
  }

  & .sign-in-btn {
    width: 100%;
    position: relative;
    padding: 15px 0;
    border-radius: 2px;
    border: none;
    color: white;
    background: $main-color;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 100ms ease-in-out;

    &:hover {
      background: rgba($main-color, 0.8);
    }
  }
}

.forgot {
  margin: 20px 0;
  text-align: left;

  & a {
    cursor: pointer;
    font-size: 1rem;
  }
}

.or {
  font-size: 1rem;
  font-weight: 600;
}

.sign-in-google {
  & button {
    width: 100%;
    position: relative;
    padding: 15px 0;
    border-radius: 2px;
    border: none;
    background: #4285f4;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    overflow: hidden;
    cursor: pointer;
    transition: all 100ms ease-in-out;

    &:hover {
      background: rgba(#4285f4, 0.8);
    }

    & img {
      position: absolute;
      width: 50px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background: white;
    }
  }
}

.have-account {
  margin-top: 20px;
  text-align: left;
  & a {
    color: white;
    font-size: 1rem;
    text-decoration: underline;
  }
}

.loader {
  width: 82px;
  height: 18px;
  position: relative;
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, 10%);
  top: 0;
  background: $main-color;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  animation: jump 0.5s ease-in infinite alternate;
}

.loader::after {
  background: #0000;
  color: #fff;
  top: 100%;
  box-shadow: 32px -20px, -32px -20px;
  animation: split 0.5s ease-out infinite alternate;
}

@keyframes split {
  0% {
    box-shadow: 8px -20px, -8px -20px;
  }
  100% {
    box-shadow: 32px -20px, -32px -20px;
  }
}
@keyframes jump {
  0% {
    transform: translate(-50%, -150%);
  }
  100% {
    transform: translate(-50%, 10%);
  }
}

@media (max-width: 530px) {
  .sign-in-main {
    width: 90%;
  }
}
