@import "config";

@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";

.movie-type-swiper {
  width: 100%;
  // height: 400px;
  display: inline;
}

.movies-container {
  display: flex;
  padding-bottom: 5px;
  overflow: hidden;
  width: 100%;
}

.movie {
  position: relative;
  cursor: pointer;
  width: 200px;
  transition: all 300ms ease-in-out;

  &.showAdd {
    & .liked-alert.add {
      opacity: 1;
    }
  }

  &.showRemove {
    & .liked-alert.remove {
      opacity: 1;
    }
  }

  &:not(:last-child) {
    margin-right: 20px;
  }

  &:hover {
    transform: translateY(12px);
  }

  .fav-container {
    position: relative;

    & .fa-bookmark {
      font-size: 2rem;
      position: absolute;
      right: 0px;
      top: -2px;
      cursor: pointer;
      z-index: 12;
      color: rgba(0, 0, 0, 0.7);
      filter: drop-shadow(1px 1px 1px rgba(252, 252, 252, 0.2));

      &.liked {
        color: red;
      }
    }

    & .fa-plus {
      position: absolute;
      top: 5px;
      right: 6px;
      color: white;
      z-index: 13;
      cursor: pointer;

      &.liked {
        display: none;
      }
    }

    & .fa-check {
      display: none;
      position: absolute;
      top: 5px;
      right: 6px;
      color: white;
      z-index: 13;
      cursor: pointer;

      &.liked {
        display: block;
      }
    }
  }

  &-img {
    position: relative;
    width: 100%;
    height: 275px;

    & .liked-alert {
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5);
      font-size: 14px;
      text-transform: uppercase;
      padding: 5px 15px;
      opacity: 0;
      @include transition;
      z-index: 11;
    }

    & .movie-rating {
      position: absolute;
      bottom: 0;
      left: 5px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 0;
      background: $main-color;
      opacity: 0;
      top: 0;
      left: 0;
      @include transition;
      border-radius: 8px;
      z-index: 10;
    }

    & img {
      width: 200px;
      height: 275px;
      border-radius: 4px;
    }
  }

  &-info {
    position: relative;
    color: white;
    @include flex;
    padding: 10px 0px;
    padding-bottom: 2px;
    width: 100%;

    & .movie-title-date {
      & .movie-name {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1px;
      }

      & .movie-date {
        font-size: 15px;
        color: $dark-white;
      }
    }
  }
}

@media (max-width: 500px) {
  .movies-container {
    &::after {
      width: 20px;
      filter: blur(30px);
    }
  }

  .liked-alert {
    position: absolute;
    top: 0;
    left: 40%;
    font-size: 12px;

    padding: 5px 10px;
  }

  .movies {
    margin-bottom: 50px;
  }

  .movie {
    width: 170px;

    &:hover {
      & .movie-img {
        &::after {
          height: 245px;
          display: none;
        }
      }
    }

    &-img {
      height: 245px;

      & img {
        width: 170px;
        height: 245px;
      }
    }

    &-info {
      & .movie-title-date {
        & .movie-name {
          font-size: 15px;
          font-weight: 500;
          letter-spacing: 0.5px;
          line-height: 1.1;
        }

        & .movie-date {
          font-size: 13px;
        }
      }
    }
  }

  .movies-search {
    position: relative;

    & .movie-rating {
      left: 0;
    }
  }
}
