<div class="movies-container">
  <div class="movie" *ngFor="let movie of movies; let i = index">
    <div class="fav-overlay"></div>
    <div class="fav-container" #like>
      <i
        class="fa fa-heart"
        id="favorite"
        [ngClass]="{ liked: movies[i].liked }"
        (click)="addOrRemoveLiked($event, movies[i].id, movies[i])"
      ></i>
    </div>

    <div
      class="movie-img"
      [routerLink]="['/movies', moviesId[i], moviesNames[i]]"
      (click)="closeRecents()"
    >
      <div class="liked-alert add">Added to favorites</div>
      <div class="liked-alert remove">Removed from favorites</div>

      <div class="movie-rating">
        <circle-progress
          backgroundColor="black"
          [percent]="moviesRating[i]"
          [radius]="18"
          [outerStrokeWidth]="3"
          [innerStrokeWidth]="4"
          [outerStrokeColor]="movieRatingColor | rating: moviesRating[i]"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="0"
          titleFontSize="13"
          titleFontWeight="900"
          unitsFontWeight="500"
          [backgroundPadding]="2"
        ></circle-progress>
      </div>
      <img [img-preloader]="moviesPoster[i]" alt="" *ngIf="moviesPoster[i]" />
    </div>
    <div class="movie-info">
      <div class="movie-title-date">
        <div class="movie-name">{{ movie.title }}</div>

        <div class="movie-date">{{ movie.release_date | date }}</div>
      </div>
    </div>
  </div>
</div>
