@import "config";

::-webkit-scrollbar {
  position: relative;
  height: 8px;
  cursor: pointer;
  z-index: 12;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
  cursor: pointer;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(85, 85, 85);
  border-radius: 10px;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}

.fav-message {
  width: 90%;
  max-width: 1400px;
  margin-inline: auto;
  font-size: 18px;

  & #bang {
    font-size: 40px;
    font-weight: 700;
    color: $main-color;
    margin-right: 8px;
  }

  & #homepage {
    font-size: 20px;
    color: $main-color;
    cursor: pointer;
    @include transition;
    margin: 0 5px;

    &:hover {
      color: $main-color-hover;
    }
  }
}

.movies-container {
  position: relative;
  width: 90%;
  max-width: 1400px;

  margin-inline: auto;
  &::after {
    position: absolute;
    content: "";
    width: 70px;
    height: 100%;
    background: black;
    filter: blur(50px);
    top: 0;
    right: 0;
    z-index: 10;
  }
}

.movies {
  margin-bottom: 100px;

  &.top-rated {
    margin-bottom: 0px;
  }
}

.movies-type {
  @include flex;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;

  & button {
    border: none;
    background: $main-color;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    border-radius: 3px;
    @include transition;
    cursor: pointer;

    &:hover {
      background: $main-color-hover;
    }
  }
}

.movies-class {
  display: flex;
  padding-bottom: 5px;
  overflow: auto;
}

.movie {
  position: relative;
  cursor: pointer;
  width: 200px;

  &.popular_2 {
    display: inline;
  }

  &:not(:last-child) {
    margin-right: 20px;
  }

  &:hover {
    & .movie-img {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 275px;
        background: $main-color;
        opacity: 0.5;
        top: 0;
        left: 0;
        z-index: 10;
        border-radius: 8px 8px 0 0;
      }
    }
  }

  & .fav-overlay {
    position: absolute;
    width: 35px;
    height: 38px;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    right: 0;
    z-index: 10;
    border-bottom-left-radius: 10px;
  }

  & #favorite {
    position: absolute;
    right: -13px;
    top: -10px;
    cursor: pointer;
    z-index: 12;
    font-size: 20px;
    padding: 20px;

    &.liked {
      color: $main-color;
    }
  }

  &-img {
    position: relative;
    width: 100%;
    height: 275px;

    & .movie-rating {
      position: absolute;
      bottom: 0;
      left: 5px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 0;
      background: $main-color;
      opacity: 0;
      top: 0;
      left: 0;
      @include transition;
      border-radius: 8px 8px 0 0;
      z-index: 10;
    }

    & img {
      width: 200px;
      height: 275px;
      border-radius: 8px 8px 0 0;
    }
  }

  &-info {
    position: relative;
    // background: white;
    color: white;
    @include flex;
    padding: 10px 10px;
    padding-bottom: 2px;
    width: 100%;
    border-radius: 0 0 8px 8px;

    & .movie-title-date {
      & .movie-name {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1px;
      }

      & .movie-date {
        font-size: 15px;
      }
    }
  }
}

.movies-search {
  position: relative;

  & .movie-rating {
    left: 0;
  }
}

@media (max-width: 500px) {
  .movies-container {
    &::after {
      width: 20px;
      filter: blur(30px);
    }
  }

  .movies {
    margin-bottom: 50px;
  }

  .movies-type {
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;

    & button {
      padding: 10px 15px;
      font-size: 14px;
      margin-top: 10px;
    }
  }

  .movie {
    width: 170px;

    &:hover {
      & .movie-img {
        &::after {
          height: 245px;
        }
      }
    }

    &-img {
      height: 245px;

      & img {
        width: 170px;
        height: 245px;
      }
    }

    &-info {
      & .movie-title-date {
        & .movie-name {
          font-size: 15px;
          font-weight: 500;
          letter-spacing: 0.5px;
          line-height: 1.1;
        }

        & .movie-date {
          font-size: 13px;
        }
      }
    }
  }

  .movies-search {
    position: relative;

    & .movie-rating {
      left: 0;
    }
  }
}
